@media screen and (max-width: 1450px) {

    #contact {
    background-image: none;
    }

    #contact .container {
        flex-direction: column;
        align-items: center;
        gap: 25px 0;
        height: auto;
        width: 60%;
        margin: 0;
    }

    #contact .container .contact-container {
        position: relative;
        width: 100%;
        padding: 0;
    }

    #contact .container .contact-container form {
        position: relative;
        margin-bottom: 0;
    }

    #contact .container .coords {
        width: 100%;
        margin: 0;
        height: auto;
        top: 0;
        transform: translateY(0);
        position: relative;
        left: 0;
        border-radius: 5px;
        padding: 0;
    }

    #contact .container .coords h3 {
        text-align: left;
        font-size: 1.4em;
        margin-left: 15px;
    }

    #contact .container .coords ul {
        position: relative;
        display: flex;
        margin-top: 0;
        flex-direction: row;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-around;
    }

    #contact .container .coords ul li {
        margin: 0 5px;
    }

    #contact .container .coords ul li .coord .bigsize {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px 0;
    }

    #contact .container .coords ul li .coord .bigsize p {
        text-align: center;
        width: 100%;
    }

}

@media screen and (max-width: 1000px) {
    #contact .container .coords {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact .container .coords ul {
    margin: 0;
    }
    
    #contact .container .coords ul li .coord .icon {
        cursor: pointer;
    }

    
    #contact .container .coords ul li .coord .smallsize {
        display: block;
    }

    #contact .container .coords ul li .coord .bigsize {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #contact .container {
        width: 80%;
    }

    #contact .container .contact-container form button {
        font-size: 1em;
    }

    #contact .container .contact-container form .contact-personnal-information {
        flex-direction: column;
    }

    #contact .container .coords {
        padding: 5px 0;
    }

    #contact .container .coords h3 {
        font-size: 0.7em;
    }

    #contact .container .coords ul li .coord {
        gap: 0 5px;
    }
    
    #contact .container .coords ul li .icon {
        scale: 0.8;
    }
}