#projects {
    padding: 5vw 0;
    background-color: var(--background-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h2 {
    text-align: center;
    font-size: 3em;
}

a {
    background-color: var(--primary);
    color: var(--white);
    text-decoration: none;
    padding: 1em 2em;
    margin-top: 14px;
    transition: .3s;
    border-radius: 0.2em;
    cursor: pointer;
}

a:hover:not(.github-link) {
    background-color: var(--primary-hover);
}

@media screen and (max-width: 1410px) {
    #projects {
        padding: 5vw 0;
    }

    #projects h2 {
        font-size: 2.5em;
    }
}